@charset "utf-8";
#contenedor{
    width: auto;
    height: auto;
    background-attachment: fixed;
}
#titulo {
    width: 100%;
    height: 100px;
    background-color: #4AF5B3;
    text-align: center;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    font-size: 218%;
}
#texto1 {
    float: left;
    width: 50%;
    background-color: #1DB4BB;
    text-align: center;
    height: 150px;
    font-size: large;
}

#txt2 {
    float: left;
    width: 50%;
    background-color: #009294;
    text-align: center;
    height: 150px;
    font-size: large;
}

#txt3 {
    float: left;
    width: 50%;
    background-color: #1DB4BB;
    text-align: center;
    height: 250px;
}
#txt4 {
    float: left;
    width: 50%;
    background-color: #009294;
    text-align: center;
    height: 250px;
}
#txt5 {
    width: 100%;
    float: left;
    background-color: #00A0C8;
    height: 99px;
}
#menu {
    text-align: center;
}
